modules = ["web", "nodejs-20"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[workflows]

[[workflows.workflow]]
name = "gh-deploy"
mode = "sequential"
author = 28327555

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"deploy starting\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run deploy"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"deploy complete\""
